@use "../../styles/variables" as *;

.edit-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;

    &__input {
        width: 100%;
        margin: 1rem 0;
        font-family: $font-primary;
        font-size: $font-size-small;
        border: none;
        background-color: $color-white-smoke;
        border: 1px solid $color-blue-navy-dark;
        color: $color-black;
        border-radius: 0.2rem;
        padding: 0.5rem;
    }

    &__submit {
        color: $color-white;
        background-color: $color-green;
        border: none;
        padding: 1rem;
        margin: 10px;
        border-radius: 5px;
        font-size: $font-size-small;
        font-family: $font-primary;
        cursor: pointer;
    }
}

@media (min-width: 650px) {
    .edit-form{
        padding: 2rem;

        &__input {
            width: 80%;
        }
    }
}