@use "../../styles/variables" as *;

.logo-large {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .logo-large__cover {
        background-color: $color-turquoise;
        opacity: 1;
        height: 10rem;
        width: 10rem;
        position: absolute;
        transform: skew(-10deg, -10deg);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    .logo-large__logo {
        height: 10rem;
        width: auto;
        z-index: 1;
    }
}

@media screen and (min-width: 1000px) {
    .logo-large__logo {
        height: 15rem !important;
    }
    
    .logo-large__cover {
        height: 13rem !important;
        width: 13rem !important;
    }
}