@use "../../styles//variables.scss" as *;

.card {
    width: 100%;
    display: flex;
    background-color: $color-grey-light;
    margin: 1rem 0;

    &__img {
        width: 12rem;
        height: auto;
    }

    &__text-container {
        padding: 0.5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 35rem;

        .card__title {
            font-size: $font-size-medium;
            font-family: $font-primary;
            color: $color-blue-navy-dark;
        }

        .card__info {
            font-size: $font-size-small;
            font-family: $font-primary;
            color: $color-blue-navy-dark;
        }
    }

    &__tag-container {
        text-align: center;
        padding: 0.5rem 0;
        
        .card__duration {
            font-family: $font-primary;
            color: $color-blue-navy-dark;
            font-weight: $font-weight-bold;
        }

        .card__price {
            font-family: $font-primary;
            color: $color-blue-navy-dark;
            font-weight: $font-weight-bold;
        }
    }
}