@use "../../styles/variables" as *;

.button__dark {
    color: $color-white;
    background-color: $color-blue-navy-dark;
    border: none;
    padding: 1rem;
    margin: 10px;
    border-radius: 5px;
    font-size: $font-size-small;
    font-family: $font-primary;
    cursor: pointer;
}

.card__button {
    font-size: $font-size-extra-small;
    padding: 0.8rem;
}

.button__update {
    background-color: $color-green;
}

.button__delete {
    background-color: $color-red;
}