@use "../../styles/variables" as *;

.footer {
    font-family: $font-primary;
    font-size: $font-size-small;
    color: $color-blue-navy-dark;
}

@media (max-width: 940px) {
    .footer {
        display: none;
    }
}