@use "../../styles/variables.scss" as *;

.nav-links {
    list-style: none;

    &__item {
        font-family: $font-primary;
        font-size: $font-size-medium;
        font-weight: $font-weight-bold;
        letter-spacing: 0.3rem;
        line-height: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $color-blue-navy-dark;
    }

    &__link {
        text-decoration: none;
    }

    .nav-links__item:hover {
        text-decoration: underline;
    }
}

@media (max-width: 940px) {
    .nav-links__item {
        line-height: 2rem;
        font-size: $font-size-small;
    }
}