@use "../../styles/variables" as *;

.course-information {
    border-top: 1px dashed $color-black;
    margin: 2rem;

    &__title {
        padding: 2rem;
        text-align: center;
        font-size: 3rem;
        font-family: $font-primary;
        color: $color-black;
        font-weight: 400;
    }

    &__buttons {
        margin: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__subtitle {
        padding: 1rem;
        text-align: center;
        font-size: $font-size-extra-large;
        font-family: $font-primary;
        color: $color-black;
        font-weight: 400;
    }

    &__support {
        margin: 2rem;
    }
}

@media (max-width: 575px) {
    .course-information__buttons {
        flex-direction: column;
    }
}