@use "../../styles/variables.scss" as *;

.header {
  text-align: center;
  color: $color-blue-navy-dark;
  letter-spacing: 0.3rem;
  font-size: $font-size-large;
  padding: 0.5rem;
}

#border {
  border: 0.1rem dashed $color-blue-navy-dark;
}

@media screen and (min-width: 550px) {
  .header {
    font-size: $font-size-extra-large;
    font-weight: $font-weight-bold;
  }
}

@media screen and (min-width: 700px) {
  .header {
    font-size: $font-size-largest;
  }
}
