@use "../../styles/variables.scss" as *;

.header {

    &__text {
        font-family: $font-primary;
        text-align: center;
        color: $color-blue-navy-dark;
        letter-spacing: 0.3rem;

        &--large {
            font-size: $font-size-largest;
            font-weight: $font-weight-regular;
        }

        &--small{
            font-size: $font-size-large;
            font-weight: $font-weight-bold;
        }
    }
}

@media screen and (max-width: 1100px) {
    .header__text {
        font-size: $font-size-extra-large;
        font-weight: $font-weight-bold;
    }    
}