@use "../../styles/variables.scss" as *;

.logo {
    display: flex;
    border-top: $color-blue-navy solid 0.5rem;
    border-bottom: $color-blue-navy solid 0.5rem;
    justify-content: center;
    align-items: center;

    &__img {
        height: 4rem;
        width: auto;
        margin: $margin-standard;
    }

    &__header {
        font-family: $font-primary;
    }
}