@use "../../styles/variables" as *;

.teacher-information {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 575px) {
    .teacher-information {
        flex-direction: row;
    }
}