@use "../../styles/variables" as *;

.course-details {
    display: flex;
    padding: 2rem;

    &__img {
        height: 17rem;
        width: auto;
    }

    &__container {
        padding-left: 2rem;

        .course-details__description {
            font-family: $font-primary;
            color: $color-black;
            font-size: $font-size-small;
            margin: 1rem 0;
        }

        .course-details__points {
            font-family: $font-primary;
            color: $color-blue-navy-dark;
            font-weight: $font-weight-bold;
            font-size: $font-size-small;
        }
    }
}