@use "../../styles/variables" as *;

.input-box {
    margin: 1.8rem;
    display: flex;
    flex-direction: column;

    &__container {
        width: 100%;
        font-family: $font-primary;
        font-size: 1.3rem;
    }

    &__input {
        width: 100%;
        font-family: $font-primary;
        font-size: $font-size-small;
        border: none;
        background-color: $color-white-smoke;
        border: 1px solid $color-blue-navy-dark;
        color: $color-black;
        border-radius: 0.2rem;
        padding: 0.5rem;
    }
}

#courseDescription, #background {
    height: 6rem;
}

@media (min-width: 750px) {
    .input-box {
        flex-direction: row;
        margin: 0.5rem;

        &__container {
            width: 30%;
            display: flex;
            justify-content: flex-start;
        }

        &__input {
            width: 70%;
            margin: 0.5rem;
        }
    }
}