@use "../../styles/variables.scss" as *;

.navbar {
    list-style: none;

    &__item {
        font-family: $font-primary;
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        letter-spacing: 0.3rem;
        line-height: 4rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $color-blue-navy-dark;
    }

    .navbar__item:hover {
        text-decoration: underline;
    }
}