@use "../../styles/variables.scss" as *;

.logo-small {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &__cover {
        height: 5rem;
        width: 15rem;
        background-color: $color-green;
        position: absolute;
        transform: skew(8deg, 8deg);
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    &__img {
        height: 4rem;
        width: auto;
        margin: 2rem;
        z-index: 1;
    }

    &__header {
        font-family: $font-primary;
        z-index: 1;
    }
}